<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.infusiblecoder.openfile">


    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="${applicationName}"
        >
        <provider
            android:name="com.infusiblecoder.openfile.FileProvider"
            android:authorities="${applicationId}.fileProvider.com.infusiblecoder.openfile"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths"
                 />
        </provider>

        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

    </application>
</manifest>
